<footer class="site-footer">
  <div class="wrapper">
    <ul class="social-list">
      <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><img src="/assets/twitter.svg" width="30" alt="Smoogipoo Twitter" /></a></li>
      <li><a href="mailto:{{ site.email }}" target="_blank"><img src="/assets/mail.svg" width="30" alt="Smoogipoo Mail" /></a></li>
      <li><a href="https://github.com/{{ site.github_username }}" target="_blank"><img src="/assets/github.svg" width="30" alt="Smoogipoo Github" /></a></li>
    </ul>
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/8.1.1/mmenu.js" integrity="sha256-yrsEk+1QP7VSx1Ygm0K2ZAWAi0JawjqXegAHxnDfvdE=" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
