<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        {{ site.time | date: '%Y' }} {{ site.title }}<br>
        <ul class="social-list">
          <li><a href="https://twitter.com/{{ site.twitter.username }}">Twitter</a></li>
          <li><a href="mailto:{{ site.email }}">Email</a></li>
          <li><a href="https://github.com/{{ site.github.username }}">Github</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script src="/js/main.js"></script>
