<footer class="site-footer">
  <div class="wrapper">
    <ul class="social-list">
      <li><a href="https://twitter.com/{{ site.twitter_username }}"><img src="/assets/twitter.svg" width="30" alt="Smoogipoo Twitter" /></a></li>
      <li><a href="mailto:{{ site.email }}"><img src="/assets/mail.svg" width="30" alt="Smoogipoo Mail" /></a></li>
      <li><a href="https://github.com/{{ site.github_username }}"><img src="/assets/github.svg" width="30" alt="Smoogipoo Github" /></a></li>
    </ul>
  </div>
</footer>

<script src="/js/main.js"></script>
