<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{{ site.title | escape }}
        |
        {% if page.title %}
            {{ page.title | escape }}{% else %}Uh oh...
        {% endif %}
    </title>

    {% if page.cover %}
        <meta content="{{ page.cover }}" property="og:image">
        <meta name="twitter:image:src" content="{{ page.cover }}">
    {% else %}
        <meta name="twitter:image:src" content="{{ site.logo }}">
        <meta content="{{ site.logo }}" property="og:image">
    {% endif %}

    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link href="/favicon.png" rel="icon" sizes="194x194" type="image/png">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    {% seo %}

</head>
