article {
    &.post {
        header {
            &.post-header {
                h1 {
                    &.post-title {
                        font-size: 4rem;
                        line-height: 4rem;
                        font-weight: 300;
                        text-align: center;

                        @include media-query($mobile) {
                            font-size: 2rem;
                            line-height: 2rem;
                        }

                    }
                }

                p {
                    &.post-meta {
                        margin-bottom: 0;
                        text-align: center;
                    }
                }
            }
        }

        div {
            &.post-content {
                max-width: 100%;
                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    margin-bottom: 1rem;
                    margin-top: 2rem;
                }

                blockquote {
                    p {
                        color: white;
                        font-size: 2rem;
                        line-height: 2rem;
                        font-style: normal;
                        font-weight: 300;
                    }
                }
            }

            &.utterances {
                max-width: 100%;
                margin-top: 4rem;

                @include media-query($mobile) {
                    margin-top: 2rem;
                }
            }
        }

        img {
            &.post-feature-image {
                max-width: 80%;
                display: block;
                margin: auto;

                margin-top: 4rem;
                margin-bottom: 4rem;

                @include media-query($mobile) {
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                }
            }
        }

        div {
            &.next-prev {
                max-width: 700px;
                margin: 4rem auto 0;

                @include media-query($mobile) {
                    margin: 2rem auto 0;
                }
            }
        }
    }
}