section {
	&.post-list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
        align-items: flex-start;

		article {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;
            margin-bottom: 2rem;

            @include media-query($mobile) {
                flex-direction: column;
                margin-bottom: 1rem;
            }

            &:last-of-type {
                margin-bottom: 0rem;
            }

			div {
				&.image {
                    width: 215px;

                    @include media-query($mobile) {
                        width: 100%;
                    }
				}

				&.content {
                    width: calc((100% - 215px) - 2rem);

                    @include media-query($mobile) {
                        width: 100%;
                    }

					a {
                        display: inline-flex;
                        color: $light-grey;

						h2 {
                            margin: 0;

                            @include media-query($mobile) {
                                margin-top: 1rem;
                            }
						}
					}

					p {
						margin: 0;

						&.post-meta {
							font-size: 0.75rem;
                            margin: 0.5rem 0;

                            @include media-query($mobile) {
                                margin: 0.5rem 0 1rem;
                            }
                        }

                        &.post-excerpt {
                            display: block;

                            @include media-query($mobile) {
                                display: none;
                            }
                        }
					}
				}
			}
		}
	}
}
