footer {
	&.site-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background: $mid-grey;

		div {
			&.wrapper {
				ul {
					&.social-list {
						list-style: none;
						padding: 0;
						margin: 0 auto;
						display: flex;
						flex-direction: row;
						li {
							list-style-type: none;
                            margin: 0 2rem;
                            display: flex;
                            flex-direction: row;

                            &:first-of-type,
                            &:last-of-type {
                                margin: 0;
                            }

							a {
								display: inline-flex;
							}
						}
					}
				}
			}
		}
	}
}
