.highlight {
	border-radius: 5px;
	margin: 25px auto;
}

a {
	color: $brand-color;
	text-decoration: none;

	&:visited {
		color: $brand-color;
	}

	&:hover {
		color: $brand-color;
		text-decoration: underline;
	}
}

pre,
code {
	font-size: 1em;
	border: 0px solid white;
	background-color: darken($mid-grey, 20%);
	border-radius: 5px;
}

body {
	background-color: $mid-grey;

	div {
		&.wrap {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
		}
	}
}

div {
	&.page-content {
		padding: 4rem 0;
		background-color: $dark-grey;

        @include media-query($tablet) {
            padding: 1rem 0;
        }
	}
}