#mm-smgi-menu:not(.mm-menu) {
	display: none;
}

.mm-panels {
	background: darken($dark-grey, 10);
}

.hamburger {
	outline: none;

	span {
		&.hamburger-box {
			height: 20px;
		}
	}

	.hamburger-inner,
	.hamburger-inner::before,
	.hamburger-inner::after {
		background-color: white;
		height: 1px;
	}

	&.is-active {
		.hamburger-inner,
		.hamburger-inner::before,
		.hamburger-inner::after {
			background-color: white;
		}
	}
}

.mm-navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 88px;
	background: $dark-grey;
}

.mm-menu a,
.mm-menu a:active,
.mm-menu a:hover,
.mm-menu a:link,
.mm-menu a:visited {
	color: white;
}

.mm-btn::after,
.mm-btn::before {
	border-color: white;
}

.mm-panel_has-navbar {
	padding-top: 88px;
}

.mm-navbars_top {
    border-bottom-width: 0;
}

.mm-panel,
.mm-panels {
	background: darken($dark-grey, 5);
}

.grecaptcha-badge {
	z-index: 999;
}

.mm-navbar__title {
    font-size: 2rem;
    font-weight: 300;
}

.mm-listitem:after {
    display: none;
}

.mm-listitem {
    &:hover {
        background: darken($dark-grey, 15);
    }
}