div {
    &.next-prev {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 4rem;

        a {
            border: 1px solid $light-grey;
            padding: 0.75rem 1rem;
            width: calc(215px - 2rem);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            outline: none;
            transition: 0.2s background ease;
            color: $light-grey;

            @include media-query($mobile) {
                width: calc(50% - 2.6rem);
            }

            &:hover {
                background: darken($dark-grey, 5);
            }

            &.disabled {
                opacity: 0;
                pointer-events: none;
                cursor: not-allowed;
            }
        }
    }
}