@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap');

$light-grey: #e2e2e2;
$mid-grey: #484848;
$dark-grey: #3a3a3a;
$brand-color: #2ab6ef;
$smgi-green: #2ECC71;
$smgi-yellow: #EFCB2A;
$smgi-pink: #E44786;
$smgi-red: #D0021B;

$base-font-family: 'Lato', sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit: 2rem;
$text-color: $light-grey;

// Width of the content area
$content-width: 1000px;
$max-width: 1920px;
$laptop: 1440px;
$tablet: 1024px;
$mobile: 767px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}